body {
    
    background: url("../images/newSport.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-image: url("../images/Sports1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    image-rendering: auto;
    image-rendering: crisp-edges; */
    /* image-rendering: pixelated; */
}
.container {
    background-color: whitesmoke;
    text-align: center;
    width: 65%;
    height: 100%;
}

.hide {
    display:none;
}