body {
    background: url("../images/newSport.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
    background-color: whitesmoke;
    text-align: center;
    width: 80%;
    height: 100%;
    margin-top: 100px;
}
.hide {
    display:none;
}
#option {
    padding: 10px;
}
h1 {
    font-size: 40px;
}
#radio-btn {
    margin-left: 20px;
    font-weight: bold;
}
#done {
    background: red;
    color: black;
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
}
#start {
    color: black;
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
}
#gradeAnswers {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 40px;
}